
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    height: 44vh;
    display: flex;
}
header h1{
    margin-top: 10vh;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 20px; */
    padding: 20px;
    border: none;
}

#about h2 {
    text-align: center;
    color: #333;
}


.skill-category h3 {
    color: #555;
}

.skill-category{
    justify-content: space-between;
    margin-bottom: 20px;
}
#skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
}
#skills{
    background-color: #000000b4;
    border: none;
    }

#skills h2{
    margin-top: 10vh;
    position: relative;
    text-align: center;}

#profile-picture img{
    border-radius: 50%;
    border: 1px solid black;
    width: 20vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 5vh;
    margin-right: 10vw;
}

#profile-name{
    text-align: center;
    font-size: 2vw;
}

#circle-profile {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 10px 10px #00000009;
    border-radius: 10px;
    width: 20vw;
    text-align: center;
    margin-left: 6vw;
    transition: transform 0.3s ease;
}

#circle-profile:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px 10px #0000003a;

}
#circle-profile h1 {
    margin-top: 5vh;
    position: relative;
    text-align: center;
    font-size: 3vh;
    margin-left: -5vw;
    color: #000000;
}

#circle-profile h2 {
    margin-top: 5vh;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-left: -5vw;
    color: #000000;
}

#circle-profile img {
    border-radius: 50%;
    width: 9vw;
    height: auto;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-right: 10vw;
    margin-bottom: 10px;
}
#sobremim{
    text-align: center;
    font-size: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}