body{
        background-image: url(fundo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Open Sans', sans-serif;
}
.principal{
        background-image: url(fundo2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 70vw;
        height: 70vh;
        margin: 0 auto;
        opacity: 100%;
        position: relative;
        border: 1px solid black;
        color: white;
        border-radius: 5px;
        margin-top: 10vh;
}
h1{
        position: relative;
        margin-left: 2vw;
}
.principal p{
        position: relative;
        margin-left: 2vw;
        margin-top: -1vh;
}
.main {
        margin-top: 15vh;
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    .up {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
    
    .down {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
    
    .card1 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 90px 5px 5px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }
    
    .instagram {
        margin-top: 1.5em;
        margin-left: 1.2em;
        fill: #cc39a4;
    }
    
    .card2 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 90px 5px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }
    
    .twitter {
        margin-top: 1.5em;
        margin-left: -.9em;
        fill: #03A9F4;
    }
    
    .card3 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 5px 5px 90px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }
    
    .github {
        margin-top: -.6em;
        margin-left: 1.2em;
    }
    
    .card4 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 5px 90px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }
    
    .discord {
        margin-top: -.9em;
        margin-left: -1.2em;
        fill: #8c9eff;
    }
    
    .card1:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #cc39a4;
    }
    
    .card1:hover .instagram {
        fill: white;
    }
    
    .card2:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #03A9F4;
    }
    
    .card2:hover .twitter {
        fill: white;
    }
    
    .card3:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: black;
    }
    
    .card3:hover .github {
        fill: white;
    }
    
    .card4:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #8c9eff;
    }
    
    .card4:hover .discord {
        fill: white;
    }

@media screen and (max-width: 768px) {
    .principal {
        width: 90vw;
        height: 90vh;
        margin-top: 5vh;
    }
    
    .main {
        margin-top: 5vh;
        margin-left: 0;
    }
    
    .up {
        flex-direction: column;
        gap: 1em;
    }
    
    .down {
        flex-direction: column;
        gap: 1em;
    }
    
    .card1,
    .card2,
    .card3,
    .card4 {
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    
    .instagram,
    .twitter,
    .github,
    .discord {
        margin: 0;
    }
}

.card{
    position: absolute;
    margin-left: 60%;
    margin-top: -17%;
}
.card a{
    text-decoration: none;
    color: white;
}
.card select{
    background-color: transparent;
    border: none;
    border-radius: none;
    border-color: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.card select:hover{
    cursor: pointer;
}
.card > option {
    background-color: transparent;
    cursor: pointer;
}

.card > option:hover {
    background-color: #03A9F4;
    color: white;
}
.hidden {
    display: none;
}
#jobs-title{
    cursor: pointer;
}
.jobs-options {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.jobs-options.visible {
    opacity: 1;
    max-height: 200px; /* Altura máxima que as opções podem ter */
}

.job-option {
    display: none;
}

.job-option.visible {
    display: block;
}
.container {
    position: absolute;
    max-width: 500px;
    width: 20%;
    background: transparent;
    margin-left: 15%;
    margin-top: -26%;
    padding: 10px 20px;
    border-radius: 7px;
  }
  
  .container .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(226, 226, 226);
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(236, 236, 236, 0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: rgba(226, 226, 226, 0.306);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
    /*progreso de las diferentes lenguajes*/
    width: 100%;
    animation-delay: 0.8s;
  }
  
  .skill-per.scss {
    /*progreso de las diferentes lenguajes*/
    width: 90%;
    animation-delay: 0.8s;
  }
  
  .skill-per.Boostrap {
    /*progreso de las diferentes lenguajes*/
    width: 50%;
    animation-delay: 0.8s;
  }
  .skill-per.Javascript{
    /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.8s;
  }
  .skill-per.Python{
    /*progreso de las diferentes lenguajes*/
    width: 60%;
    animation-delay: 0.8s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(226, 226, 226);
    z-index: 1;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    font-weight: 600px;
    background-color: rgba(226, 226, 226, 0.267);
    transform: translateX(-50%) rotate(45deg);
  }
  